/*
Sólo funciona correctamente con listas con HTML, el intérprete de markdown no genera un código válido para más de dos niveles (básicamente omite elementos <ol>).

Alimenta la vagancia con:

<!-- importando estilos para listas anidadas -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iagovar/blog@main/sandbox/css/nestedOrderedLists.css">


*/

li {
    margin-bottom: 0.3em;
}

ol {
    counter-reset: item;
}

ol > li {
    counter-increment: item;
}

ol ol > li {
    display: block;
}

ol ol > li:before {
    content: counters(item, ".") ". ";
    margin-left: -1em;
}
